.setheight{
    min-height: calc(100vh - 32.2vh);
    /* min-height: calc(100vh - 32.2vh); */
    /* height: calc(100vh - 25vh); */
}
.setheight2{
    min-height: calc(100vh - 27.5vh);
    /* min-height: calc(100vh - 32.2vh); */
    /* height: calc(100vh - 25vh); */
}

.hideScrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}